<p id="notice"><%= notice %></p>

<h1>Krankenhaus</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @krankenhaus.each do |krankenhau| %>
      <tr>
        <td><%= link_to 'Show', krankenhau %></td>
        <td><%= link_to 'Edit', edit_krankenhau_path(krankenhau) %></td>
        <td><%= link_to 'Destroy', krankenhau, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Krankenhau', new_krankenhau_path %>
