<h1>Matchs#moderate_match</h1>

<p><%= @matches.inspect %></p>
<p>
  Approve: <a href="http://www.coronasolidarity.com/approve/<%=@uuid %>">http://www.coronasolidarity.com/approve/<%=@uuid %></a>
  Decline: <a href="http://www.coronasolidarity.com/decline/<%=@uuid %>">http://www.coronasolidarity.com/decline/<%=@uuid %></a>
</p>
