<div class="landing-banner-one d-flex align-items-top">
  <div style="width: 50vw; margin: auto 0;">
    <h1>Helfen Sie jetzt!</h1>
    <h5 style="padding-bottom: 1vh;">Leisten Sie medizinische oder pflegerische Hilfe als Antwort auf die Corona Pandemie.</h5>
    <div class="d-flex align-items-center flex-wrap">
      <%= link_to "Als Helfer/in registrieren", new_helper_path, class: 'btn-mint' %>
      <%= link_to "Hilfe anfragen", new_hospital_path, class: 'btn-mint' %>
    </div>
  </div>
  <div class="landing-image-box">
    <%= image_tag "landing_image_green.svg", class:"landing_image" %>
  </div>
</div>

<div class="landing-banner-two text-justify">
  <div style="padding: 15vh 20vw;" >
    <h2 style="padding-bottom: 2vh; text-align: center">Worum geht es?</h2>
    <p>Deutschland und nahezu die gesamte Welt steht gerade vor einer großen Herausforderung - der Eindämmung und Bekämpfung der rasanten Ausbreitung von COVID-19.</p>
    <p>Um die Krankenhäuser und andere medizinische Einrichtungen zu entlasten, wurde mit Corona Solidarity im Rahmen des Hackathons der Deutschen Bundesregierung eine zentrale Vermittlungsplattform für Krankenhäuser und Helfer:innen aus medizinischen Berufen / Ausbildungen geschaffen.</p>
    <p>Über die Plattform können Kapazitäten sowie Skill-Level des medizinischen/ pflegerischen Hilfspersonal zentral erfasst und mit den Bedarfen der Krankenhäuser abgeglichen werden. Corona Solidarity vermittelt im Anschluss den Kontakt zwischen beiden Parteien.</p>
  </div>
</div>

<div class="landing-banner-three">
  <h2 style="padding-bottom: 2vh; text-align: center;">So läuft es ab...</h2>
  <div class="d-flex align-items-center justify-content-center flex-wrap">
    <div class="landing-card d-flex flex-column justify-content-end">
      <div>
       <%= image_tag "helper.png", class:"landing_image" %>
      </div>
      <div>
        <p class="process">Sie registrieren sich als medizinischer oder pflegerischer Helfer auf unserer Platform.</p>
      </div>
    </div>
    <div class="landing-card d-flex flex-column justify-content-end">
      <div>
         <%= image_tag "match.png", class:"landing_image" %>
      </div>
      <div>
        <p class="process-match">Wir vermitteln zwischen beiden Parteien und benachrichtigen Sie. Transparent. Sicher. Kostenfrei.</p>
      </div>
    </div>
    <div class="landing-card d-flex flex-column justify-content-end">
      <div>
       <%= image_tag "hosptial.png", class:"landing_image" %>
      </div>
      <div>
        <p class="process">Sie registrieren ihr Krankenhaus oder Praxis und geben ihren Bedarf an Unterstützer an.</p>
      </div>
    </div>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Helfen Sie jetzt!</h2>
    <p class="lead">Leisten Sie medizinische oder pflegerische Hilfe als Antwort auf die Corona Pandemie.</p>
  </div>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal text-left">Potenzielle Helfer:innen sind...</h4>
        </div>
        <div class="card-body">
          <ul class="mt-3 mb-4 text-left">
            <li>Medizinstudent/innen</li>
            <li>Personen in der Pflege-Ausbildung</li>
            <li>Ärzt/innen & Pflegehelfer/innen</li>
            <li>Andere Menschen mit medizinischer/pflegerischer Ausbildung</li>
          </ul>
          <%= link_to "Als Helfer:in registrieren", new_helper_path, class: 'btn-mint' %>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal text-left">Krankenhäuser können...</h4>
        </div>
        <div class="card-body">
          <ul class="mt-3 mb-4 text-left">
            <li>Konkrete Bedarfe anmelden</li>
            <li>Kontaktstelle benennen</li>
            <li>Alle gemeldeten Herfer/innen im Einzugsbereich werden informiert</li>
          </ul>
          <%= link_to "Helfer:innen anfragen", new_hospital_path, class: 'btn-mint' %>
        </div>
      </div>
    </div>
  </div>


</div>

<%-# Alte Landing Page Below -%>


<div class="landing-banner-four text-center mb-4">
  <h2 style="text-align: center;"> <%= @helpers %> freiwillige Helfer sind schon dabei!</h2>
</div>



<div class="container mb-4">
  <div class="col-md-12">
      <div class="card flex-md-row box-shadow h-md-250">
          <div id="map" class="map" style="height: 600px; width: 100%"></div>

      </div>
    </div>
</div>
<script type="text/javascript">
   
</script>
