<div class="page-container">
<%= simple_form_for @helper, defaults: { error: 'Bitte angeben!' } do |f| %>
    <%= f.input :qualification, label: 'Welche Qualifikation / Erfahrung haben Sie?', as: :radio_buttons, :input_html => { :onclick => "nextStep()"}, wrapper_html: { class: 'radio-cards step' }, collection: [
        ['Arzt/Ärztin', 'ARZT'],
        ['Fachpflegekraft für Intensivpflege und Anästhesie', 'FACHPFLEGEKRAFT'],
        ['Exam. Krankenpfleger/in', 'PFLEGER'],
        ['Krankenpfleger/in in der Ausbildung', 'PFLEGER_AUSBILDUNG'],
        ['Pflegehilfskraft/-assistenz', 'PFLEGEHILFSKRAFT'],
        ['Medizinstudent/-in', 'STUDENT'],
        ['Sonstiges', 'SONSTIGES']]
    %>

    <%= f.input :specialty, label: 'In welchem Bereich möchteten Sie gerne helfen?', as: :radio_buttons, wrapper_html: { class: 'radio-cards step' }, :input_html => { :onclick => "nextStep()"}, collection: [
        ['Normalstation', 'NORMALSTATION'],
        ['Intensivstation', 'INTENSIVSTATION'],
        ['Notaufnahme', 'NOTAUFNAHME'],
        ['Egal, wo ich gebraucht werde', 'EGAL']]
    %>

    <div class="form-group helper_area step">
        <%= f.input :city, label: 'In welcher Stadt können Sie arbeiten?', :input_html => { :oninput => "validateForm()"} %>
        <%= f.input :radius, label: 'In welchem Umkreis (in km) könnten Sie dort helfen?', as: :select, :input_html => {:onchange => "validateForm()"}, collection: [
            ["5km", 5],
            ["10km", 10],
            ["15km", 15],
            ["20km", 20],
            ["25km", 25],
            ["30km", 30],
            ["40km", 40],
            ["50km", 50],
            ["75km", 75],
            ["100km", 100]
        ] %>
    </div>

    <%= f.input :commitment, label: 'Mit wie viel Zeiteinsatz die Woche können Sie helfen?', as: :radio_buttons, wrapper_html: { class: 'radio-cards step' }, :input_html => { :onclick => "nextStep()"}, collection: [
        ['5-6 Dienste', '5-6'],
        ['3-4 Dienste', '3-4'],
        ['1-2 Dienste', '1-2']]
    %>

    <%= f.input :shift, label: 'Zu welchen Dienstzeiten können Sie helfen?', as: :radio_buttons, wrapper_html: { class: 'radio-cards step' }, :input_html => { :onclick => "nextStep()"}, collection: [
        ['Frühdienst', 'FRÜH'],
        ['Spätdienst', 'SPÄT'],
        ['Nachtdienst', 'NACHT'],
        ['Egal', 'EGAL']]
    %>

    <%= f.input :availability, label: 'Für welchen Zeitraum können Sie helfen?', as: :radio_buttons, wrapper_html: { class: 'radio-cards step' }, :input_html => { :onclick => "nextStep()"}, collection: [
        ['Zunächst unbegrenzt', 'UNBEGRENZT'],
        ['Zeitlich begrenzt, ein paar Wochen', 'PAAR_WOCHEN'],
        ['Zeitlich begrenzt, für einige Monate', 'EINIGE_MONATE']]
    %>

    <%= f.input :start_date, label: 'Wann können Sie starten?', wrapper_html: { class: 'step' } %>

    <%= f.input :employment_status, label: 'Was ist Ihr aktueller Beschäftigungsstatus?', as: :radio_buttons, wrapper_html: { class: 'radio-cards step' }, :input_html => { :onclick => "nextStep()"}, collection: [
        ['Im Krankenhaus angestellt', 'KRANKENHAUS'],
        ['Pflegerische / medizinische Anstellung ', 'PFLEGER'],
        ['Aktuell in keinem Bechäftigungsverhältnis', 'NICHT_BESCHÄFTIGT'],
        ['Außerhalb der Gesundheitsbranche angestellt', 'AUßERHALB'],
        ['Sonstiges', 'SONSTIGES']]
    %>

    <div class="form-group helper_contact step">
        <%= f.input :first_name, label: "Vorname", :input_html => { :oninput => "validateForm()"} %>
        <%= f.input :last_name, label: "Nachname", :input_html => { :oninput => "validateForm()"} %>
        <%= f.input :email, as: :email, label: "Email", :input_html => { :oninput => "validateForm()"} %>
        <%= f.input :phone, as: :tel, label: "Telefon", :input_html => { :oninput => "validateForm()"} %>
        <%= f.input :personal_note, label: "Zusätzliche Informationen", placeholder: "Sollten wir sonst noch etwas wissen?" %>
    </div>

    <button type="button" onclick="prevStep()" class="btn btn-light new-helper-prev">Zurück</button>
    <button type="button" onclick="nextStep()" class="btn btn-primary new-helper-next">Weiter</button>

    <%# <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div> %>

    <%= f.button :submit, "Absenden", class: "btn btn-primary new-helper-submit" %>
  <% end %>
  </div>

<script>
    window.steps = ['qualification', 'specialty', 'area', 'commitment', 'shift', 'availability', 'start_date', 'employment_status', 'contact'];
    addRadioCards();
    setStep(0);
</script>
